<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Product Creator</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/system/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" type="text/css" href="/system/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/mdbassit/Wysi@latest/dist/wysi.min.css" />
  </head>
  <body>
    <div id="app">
      <header class="header border-bottom">
        <div class="container text-center py-3">
          <h1 class="h5 fw-bold mb-0">Product Creator (Fabric)</h1>
        </div>
      </header>
      <main class="main">
        <div class="container py-5">
          <div class="row align-items-start">
            <div class="col-12 col-md-6 border-end pe-reset pe-md-5">
              <h2 class="h5 fw-bold mb-4">Product Template</h2>
              <div v-if="createError" class="alert alert-danger mb-4">{{ createError }}</div>
              <div v-if="createLoading" class="spinner spinner-border text-primary"></div>
              <form v-else @submit.prevent="handleCreateSubmit">
                <div class="row align-items-start mb-3">
                  <div class="col-12 col-md-6 mb-3 mb-md-0">
                    <div class="form-group">
                      <label class="mb-1">Name: <span class="text-danger fw-bold">*</span></label>
                      <input type="text" v-model="name" class="form-control" />
                    </div>
                  </div>
                  <div class="col-12 col-md-6 mb-3 mb-md-0">
                    <div class="form-group">
                      <label class="mb-1">Vendor: <span class="text-danger fw-bold">*</span></label>
                      <input type="text" v-model="vendor" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="row align-items-start mb-3">
                  <div class="col-12 col-md-6 mb-3 mb-md-0">
                    <div class="form-group">
                      <label class="mb-1">Collections: <span class="text-danger fw-bold">*</span></label>
                      <input type="text" v-model="collections" class="form-control" />
                    </div>
                  </div>
                  <div class="col-12 col-md-6 mb-3 mb-md-0">
                    <div class="form-group">
                      <label class="mb-1">Product Type: <span class="text-danger fw-bold">*</span></label>
                      <input type="text" v-model="productType" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <label class="mb-1">Description: <span class="text-danger fw-bold">*</span></label>
                  <textarea id="description" @change="(event) => description = event.target.value"></textarea>
                </div>
                <div class="form-group mb-3">
                  <label class="mb-1">Specifications: <span class="text-danger fw-bold">*</span></label>
                  <textarea id="specifications" @change="(event) => specifications = event.target.value"></textarea>
                </div>
                <div class="form-group mb-3">
                  <label class="mb-1">Summary: <span class="text-danger fw-bold">*</span></label>
                  <textarea v-model="summary" class="form-control" rows="5"></textarea>
                </div>
                <div class="form-group mb-3">
                  <label class="mb-1">SEO Meta Description: <span class="text-danger fw-bold">*</span></label>
                  <textarea v-model="seoMetaDescription" class="form-control" rows="5"></textarea>
                </div>
                <div class="row align-items-start mb-4">
                  <div class="col-12 col-md mb-3 mb-md-0">
                    <div class="form-group">
                      <label class="mb-1">Application: <span class="text-danger fw-bold">*</span></label>
                      <input type="text" v-model="application" class="form-control" />
                    </div>
                  </div>
                  <div class="col-12 col-md mb-3 mb-md-0">
                    <div class="form-group">
                      <label class="mb-1">Material: <span class="text-danger fw-bold">*</span></label>
                      <input type="text" v-model="material" class="form-control" />
                    </div>
                  </div>
                  <div class="col-12 col-md mb-3 mb-md-0">
                    <div class="form-group">
                      <label class="mb-1">Width: <span class="text-danger fw-bold">*</span></label>
                      <input type="text" v-model="width" class="form-control" />
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-outline-success rounded-pill w-100">Create products</button>
              </form>
            </div>
            <div class="col-12 col-md-6 position-sticky top-0 ps-reset ps-md-5">
              <h2 class="h5 fw-bold mb-4">
                Products
                <span v-if="products.length > 0">({{ products.length }})</span>
              </h2>
              <form @submit.prevent="handleFetchSubmit" class="mb-3">
                <div class="form-group">
                  <label class="mb-1">Category: <span class="text-danger fw-bold">*</span></label>
                  <div class="d-flex align-items-center gap-3">
                    <input
                      type="text"
                      v-model="category"
                      class="form-control"
                      placeholder="https://jtsoutdoorfabrics.com/arrivalresidentialupholstey"
                    />
                    <button type="submit" class="btn btn-outline-primary rounded-pill">Submit</button>
                  </div>
                </div>
              </form>
              <div v-if="productsError" class="alert alert-danger mb-4">{{ productsError }}</div>
              <div v-if="productsLoading" class="spinner spinner-border text-primary"></div>
              <div v-else class="faux-table bg-light border" style="height: 450px; overflow-y: auto">
                <div class="faux-table-header border-bottom bg-white">
                  <div class="row align-items-start px-3 py-2">
                    <div class="col-1 small">Image</div>
                    <div class="col-7 small">Product Details</div>
                    <div class="col-2 small">Color</div>
                    <div class="col-1 small">Disc.</div>
                    <div class="col-1"></div>
                  </div>
                </div>
                <div class="faux-table-body p-3">
                  <div v-if="products.length > 0" class="d-flex flex-column align-items-start gap-3">
                    <div v-for="product in products" class="row align-items-center">
                      <div class="col-1">
                        <a :href="product.image" target="_blank">
                          <img :src="product.image" class="w-100" />
                        </a>
                      </div>
                      <div class="col-7">
                        <div class="d-flex flex-column align-items-start">
                          <span class="fw-bold small">{{ product.name }}</span>
                          <span class="text-muted small">
                            {{ product.sku }} • Cost: {{ product.cost }} • Price: {{ product.price }}
                          </span>
                        </div>
                      </div>
                      <div class="col-2">
                        <input
                          type="text"
                          class="form-control form-control-sm"
                          @change="(event) => product.color = event.target.value"
                        />
                      </div>
                      <div class="col-1">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          @change="(event) => product.discontinued = event.target.value === 'on' ? true : false"
                        />
                      </div>
                      <div class="col-1">
                        <button
                          class="btn btn-sm btn-outline-danger"
                          @click="() => products = products.filter(i => i.id !== product.id)"
                        >
                          <i class="bi bi-trash small"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <span v-else>
                    <i>No products found...</i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/mdbassit/Wysi@latest/dist/wysi.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script type="text/javascript">
      const { createApp } = Vue;
      createApp({
        data() {
          return {
            // Fetching logic
            category: "",
            products: [],
            productsLoading: false,
            productsError: "",

            // Creation logic
            createLoading: false,
            createError: "",
            name: "",
            vendor: "JT's Outdoor Fabrics",
            collections: "524169511214|525231554862|525234569518",
            productType: "Fabric",
            description: "",
            specifications: "",
            summary: "",
            seoMetaDescription: "",
            application: "",
            material: "",
            width: "",
          };
        },
        mounted() {
          Wysi({ el: "#description" });
          Wysi({ el: "#specifications" });
        },
        methods: {
          async handleFetchSubmit() {
            if (!this.category) return;

            this.productsError = "";
            this.productsLoading = true;

            const response = await fetch(`/products?link=${this.category}`);
            const responseData = await response.json();
            if (!response.ok) {
              this.productsError = responseData.message;
              this.productsLoading = false;
              return;
            }

            this.products = responseData.data;
            this.productsLoading = false;
          },
          async handleCreateSubmit() {
            if (!this.category) return;

            this.createError = "";
            this.createLoading = true;

            const response = await fetch("/products", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                products: this.products.map((product) => {
                  const colorName = product.name.split("-")[1].trim();
                  const newName = this.name.replace("{color_name}", colorName);
                  const seoTitle = `${newName} | JT's Outdoor Fabrics`;
                  return {
                    name: newName,
                    vendor: this.vendor,
                    collections: this.collections,
                    productType: this.productType,
                    description: this.description.replace("{name}", newName),
                    specifications: this.specifications,
                    summary: this.summary,
                    seoTitle: seoTitle.length <= 70 ? seoTitle : newName,
                    seoMetaDescription: this.seoMetaDescription.replace("{color_name}", colorName),
                    application: this.application,
                    material: this.material,
                    width: this.width,
                    color: product.color,
                    sku: product.sku,
                    cost: product.cost,
                    price: product.price,
                    image: product.image,
                    discontinued: product.discontinued,
                  };
                }),
              }),
            });

            if (!response.ok) {
              const data = await response.json();
              this.createError = data.message;
              this.createLoading = false;
              return;
            }

            window.location.href = "/";
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
