<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/mdbassit/Wysi@latest/dist/wysi.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
<script type="text/javascript">
  const { createApp } = Vue;
  createApp({
    data() {
      return {
        // Fetching logic
        category: "",
        products: [],
        productsLoading: false,
        productsError: "",

        // Creation logic
        createLoading: false,
        createError: "",
        name: "",
        vendor: "JT's Outdoor Fabrics",
        collections: "524169511214|525231554862|525233881390",
        productType: "Fabric",
        description: "",
        specifications: "",
        summary: "",
        seoMetaDescription: "",
        application: "",
        material: "",
        width: "",
      };
    },
    mounted() {
      Wysi({ el: "#description" });
      Wysi({ el: "#specifications" });
    },
    methods: {
      async handleFetchSubmit() {
        if (!this.category) return;

        this.productsError = "";
        this.productsLoading = true;

        const response = await fetch(`/products?link=${this.category}`);
        const responseData = await response.json();
        if (!response.ok) {
          this.productsError = responseData.message;
          this.productsLoading = false;
          return;
        }

        this.products = responseData.data;
        this.productsLoading = false;
      },
      async handleCreateSubmit() {
        if (!this.category) return;

        this.createError = "";
        this.createLoading = true;

        const response = await fetch("/products", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            products: this.products.map((product) => {
              const colorName = product.name.split("-")[1].trim();
              const newName = this.name.replace("{color_name}", colorName);
              const seoTitle = `${newName} | JT's Outdoor Fabrics`;
              return {
                name: newName,
                vendor: this.vendor,
                collections: this.collections,
                productType: this.productType,
                description: this.description.replace("{name}", newName),
                specifications: this.specifications,
                summary: this.summary,
                seoTitle: seoTitle.length <= 70 ? seoTitle : newName,
                seoMetaDescription: this.seoMetaDescription.replace("{color_name}", colorName),
                application: this.application,
                material: this.material,
                width: this.width,
                ...product
              };
            })
          })
        });

        if (!response.ok) {
          const data = await response.json();
          this.createError = data.message;
          this.createLoading = false;
          return;
        }

        window.location.href = "/";
      }
    }
  }).mount("#app");
</script>
</body>

</html>