<!DOCTYPE html>
<html lang="en">

<head>
  <title>Product Creator</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/system/bootstrap-icons/font/bootstrap-icons.min.css" />
  <link rel="stylesheet" type="text/css" href="/system/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/mdbassit/Wysi@latest/dist/wysi.min.css" />
</head>

<body>